# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv",delimiter=",")

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [7]:
df=df[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu','Mjob', 'Fjob', 'reason', 'guardian']]

### Step 5. Create a lambda function that will capitalize strings.

In [14]:
capitalize=lambda x:x.str.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [15]:
df[['Mjob','Fjob']]=df[['Mjob','Fjob']].apply(capitalize)

/var/folders/mb/_tw5f1kn3ys7x5t6l_vth41w0000gn/T/ipykernel_4203/1129488653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Mjob','Fjob']]=df[['Mjob','Fjob']].apply(capitalize)

### Step 7. Print the last elements of the data set.

In [19]:
df.iloc[-1]

school           MS
sex               M
age              19
address           U
famsize         LE3
Pstatus           T
Medu              1
Fedu              1
Mjob          Other
Fjob        At_home
reason       course
guardian     father
Name: 394, dtype: object

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [20]:
df[['Mjob','Fjob']]=df[['Mjob','Fjob']].apply(capitalize)

/var/folders/mb/_tw5f1kn3ys7x5t6l_vth41w0000gn/T/ipykernel_4203/1129488653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Mjob','Fjob']]=df[['Mjob','Fjob']].apply(capitalize)

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [23]:
def fun(row):
    if row['age'] >17: 
        return 1
    return 0

In [35]:
df['legal_drinker'] = df.apply(lambda row: fun(row), axis=1)

/var/folders/mb/_tw5f1kn3ys7x5t6l_vth41w0000gn/T/ipykernel_4203/3549871283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['legal_drinker'] = df.apply(lambda row: fun(row), axis=1)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [30]:
def fun2(row):
    if row.dtype=='int':
        return row*10

In [34]:
df[df.select_dtypes(include=['number']).columns] * 10

     age  Medu  Fedu  legal_drinker
0    180    40    40             10
1    170    10    10              0
2    150    10    10              0
3    150    40    20              0
4    160    30    30              0
..   ...   ...   ...            ...
390  200    20    20             10
391  170    30    10              0
392  210    10    10             10
393  180    30    20             10
394  190    10    10             10

[395 rows x 4 columns]