# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv", delimiter=",")

### Step 4. Which continent drinks more beer on average?

In [5]:
drinks.sort_values(["beer_servings"]).tail(1)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
117,Namibia,376,3,1,6.8,AF

### Step 5. For each continent print the statistics for wine consumption.

In [7]:
drinks[["wine_servings"]].describe()

       wine_servings
count     193.000000
mean       49.450777
std        79.697598
min         0.000000
25%         1.000000
50%         8.000000
75%        59.000000
max       370.000000

### Step 6. Print the mean alcohol consumption per continent for every column

In [9]:
drinks["total_litres_of_pure_alcohol"].mean()

4.717098445595855

### Step 7. Print the median alcohol consumption per continent for every column

In [10]:
drinks["total_litres_of_pure_alcohol"].median()

4.2

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [12]:
drinks["spirit_servings"].describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64