# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", delimiter="|")

### Step 4. Discover what is the mean age per occupation

In [3]:
users.groupby("occupation").mean("age")

                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [4]:
users['is_male'] = np.where(users.gender == 'M', 1, 0)
(users.groupby('occupation').is_male.sum()/users.groupby('occupation').gender.count()).round(2).sort_values(ascending = False)

occupation
doctor           1.00
engineer         0.97
technician       0.96
retired          0.93
executive        0.91
programmer       0.91
scientist        0.90
entertainment    0.89
lawyer           0.83
salesman         0.75
educator         0.73
student          0.69
other            0.66
marketing        0.62
writer           0.58
none             0.56
administrator    0.54
artist           0.54
librarian        0.43
healthcare       0.31
homemaker        0.14
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [5]:
users.groupby("occupation").min("age")
users.groupby("occupation").max("age")

               user_id  age  is_male
occupation
administrator      940   70        1
artist             920   48        1
doctor             935   64        1
educator           937   63        1
engineer           934   70        1
entertainment      926   50        1
executive          901   69        1
healthcare         910   62        1
homemaker          898   50        1
lawyer             846   53        1
librarian          942   69        1
marketing          881   55        1
none               756   55        1
other              936   64        1
programmer         927   63        1
retired            900   73        1
salesman           925   66        1
scientist          930   55        1
student            943   42        1
technician         938   55        1
writer             911   60        1

### Step 7. For each combination of occupation and gender, calculate the mean age

In [9]:
users.groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [12]:
temp=users.groupby(['occupation', 'gender']).agg({'gender': 'count'}).div(users.groupby(['occupation']).count(), level = "occupation")
temp.loc[:, 'gender']

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64